// Import site utilities.
@import '../../styles/bootstrap-init';

// Update markup coming from Drupal Wysiwyg.
.media img,
.media picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: $spacer;
  margin-bottom: $spacer * 2;
}

figure.caption {
  margin-bottom: $spacer * 2;
}
